### 하은서73_0806_복습

In [2]:
import pandas as pd
df = pd.read_csv('spaceship_tt.csv')
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [3]:
df['CryoSleep'] = df['CryoSleep']*1
df['Transported'] = df['Transported']*1
df['VIP'] = df['VIP']*1

In [4]:
# 전처리가 너무나 중요!
df.isna().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [5]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [6]:
# 전처리 전 - 베이스 모델로 정확도 평가
df_base=df[['CryoSleep','Age','VIP','RoomService','FoodCourt','ShoppingMall','Spa','VRDeck','Transported']]

In [7]:
df_base.dropna(inplace=True)

C:\Users\HAEUNSEO\AppData\Local\Temp\ipykernel_26844\4041985548.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_base.dropna(inplace=True)

In [8]:
df_base

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,0,39.0,0,0.0,0.0,0.0,0.0,0.0,0
1,0,24.0,0,109.0,9.0,25.0,549.0,44.0,1
2,0,58.0,1,43.0,3576.0,0.0,6715.0,49.0,0
3,0,33.0,0,0.0,1283.0,371.0,3329.0,193.0,0
4,0,16.0,0,303.0,70.0,151.0,565.0,2.0,1
...,...,...,...,...,...,...,...,...,...
8688,0,41.0,1,0.0,6819.0,0.0,1643.0,74.0,0
8689,1,18.0,0,0.0,0.0,0.0,0.0,0.0,0
8690,0,26.0,0,0.0,0.0,1872.0,1.0,0.0,1
8691,0,32.0,0,0.0,1049.0,0.0,353.0,3235.0,0
8692,0,44.0,0,126.0,4688.0,0.0,0.0,12.0,1

In [9]:
dt_clf = DecisionTreeClassifier(random_state=111)

X_train, X_test, y_train, y_test = train_test_split(df_base.drop('Transported',axis=1),df_base['Transported'],
                                                   test_size=0.3, random_state=111)

dt_clf = dt_clf.fit(X_train,y_train)

In [10]:
X_train

     CryoSleep   Age VIP  RoomService  FoodCourt  ShoppingMall    Spa  VRDeck
5664         0  10.0   0          0.0        0.0           0.0    0.0     0.0
6303         0  28.0   0         32.0        0.0         304.0  291.0     2.0
963          0   0.0   0          0.0        0.0           0.0    0.0     0.0
6375         0  21.0   0       1244.0        0.0        1119.0    0.0     3.0
8299         0  34.0   0          0.0     3126.0           0.0  112.0    15.0
...        ...   ...  ..          ...        ...           ...    ...     ...
5017         1  38.0   0          0.0        0.0           0.0    0.0     0.0
5787         0  33.0   1          0.0     3095.0           0.0  197.0    40.0
2429         1  34.0   0          0.0        0.0           0.0    0.0     0.0
8421         0  39.0   0       2101.0       41.0           0.0  525.0    19.0
4717         1  13.0   0          0.0        0.0           0.0    0.0     0.0

[5075 rows x 8 columns]

In [11]:
#실제 예측값 얼마인지?
from sklearn.metrics import accuracy_score


#하이퍼파라미터 튜닝하지 않은 base_model
pred = dt_clf.predict(X_test)
accuracy = accuracy_score(y_test, pred)
print(accuracy)
print(dt_clf.get_params())

0.7601102941176471
{'ccp_alpha': 0.0, 'class_weight': None, 'criterion': 'gini', 'max_depth': None, 'max_features': None, 'max_leaf_nodes': None, 'min_impurity_decrease': 0.0, 'min_samples_leaf': 1, 'min_samples_split': 2, 'min_weight_fraction_leaf': 0.0, 'random_state': 111, 'splitter': 'best'}